# 忽略目录
example/
packages/
docs/
.vscode/

# 忽略指定文件
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
tsconfig.node.json
vite.config.ts
env.d.ts
.gitignore
.eslintignore
.eslintrc.json
.prettierrc.json