
.z-checkbox{
  --checkbox-size: 14px;
  display: inline-flex;
  align-items: center;
  height: 32px;
  font-size: var(--checkbox-size);
  user-select: none;
  cursor: pointer;
  margin-right: 20px;
  user-select: none;
  &:last-child{
    margin-right: 0;
  }
  .z-checkbox__input,.z-checkbox__label{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
  }
  .z-checkbox__input{
    .z-checkbox__original{
      opacity: 0;
      outline: 0;
      position: absolute;
      margin: 0;
      width: 0;
      height: 0;
      z-index: -1;
    }
    .z-checkbox__inner{
      position: relative;
      width: var(--checkbox-size);
      height: var(--checkbox-size);
      border: 1px solid #DCDFE6;
      border-radius: 2px;
      transition: all .15s;
      box-sizing: border-box;
      &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 21%;
        border: 1px solid var(--z-color-white);
        border-left: 0;
        border-top: 0;
        width: 3px;
        height: 7px;
        transform: rotate(45deg) scaleY(0);
        transition: transform .15s ease-in 50ms;
        transform-origin: center;
      }
    }
    &.is-checked{
      .z-checkbox__inner{
        background-color: var(--z-color-primary);
        border-color: var(--z-color-primary);
        &::after{
          transform: rotate(45deg) scaleY(1) translate(-50%,-50%);
        }
      }
    }
    &.is-disabled{
      .z-checkbox__inner{
        background-color: #f5f7fa;
        border-color: #dcdfe6;
      }
      +.z-checkbox__label{
        color: #a8abb2;
      }
    }
    &.is-disabled.is-checked{
      .z-checkbox__inner{
        &::after{
          border-color: #a9abb2;
        }
      }
    }
    &.is-indeterminate{
      .z-checkbox__inner{
        background-color: var(--z-color-white);
        // border-color: var(--z-color-white);
        &::after{
          width: 7px;
          height: 7px;
          top: 50%;
          left: 50%;
          border: none;
          background-color: var(--z-color-primary);
          transition: none;
          transform: translate(-50%,-50%) scaleY(1);
        }
      }
    }
  }
  &.is-disabled{
    cursor: not-allowed;
  }
  &:hover:not(.is-disabled){
    .z-checkbox__input{
      .z-checkbox__inner{
        border-color: var(--z-color-primary);
      }
    }
  }
}