
.z-dialog{
  margin: 30vh auto 0;
  width: 40%;
  background-color: var(--z-color-white);
  .z-dialog__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid #EBEDF0;
    .z-dialog__headerbtn{
      cursor: pointer;
      :hover{
        color: var(--z-color-primary);
      }
    }
  }
  .z-dialog__body{
    padding: 30px 20px;
  }
  .z-dialog__footer{
    border-top: 1px solid #EBEDF0;
    text-align: right;
    padding: 20px 20px;
  }
}
.dialog-fade-enter-active{
  animation: modal-fade 0.2s;
  .z-dialog{
    animation: dialog-fade 0.2s;
  }
}
.dialog-fade-leave-active{
  animation: modal-fade 0.2s reverse;
  .z-dialog{
    animation: dialog-fade 0.2s reverse;
  }
}
@keyframes modal-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes dialog-fade {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}